# creating a list and iterating through `for loop`

In [28]:
fruits=['mango','bnana','grapes','cherry']
print(fruits)

['mango', 'bnana', 'grapes', 'cherry']

In [29]:
print(type(fruits))

<class 'list'>

In [30]:
# iterating the ietm through for loop
for ietms in fruits:
  print(ietms)

mango
bnana
grapes
cherry

# creating a tuple of numbers using random number

In [6]:
numbers=(1,4,7,9)
print(numbers)

(1, 4, 7, 9)

In [7]:
print(type(numbers))

<class 'tuple'>

In [9]:
# ietrating through `for loop`
for number in numbers:
  print(number)

1
4
7
9

# creating a set named colors using name of different colors

In [15]:
colors={'red','orange','black'}
print(colors)

{'red', 'orange', 'black'}

In [16]:
# iterating the set through for loop
for color in colors:
  print(color)

red
orange
black

# creating  a dictionary using names,age,grade as key and name of student,age,grade as key

In [19]:
name_dict={'name':'sultan','age':32,'grade':86}
print(name_dict)

{'name': 'sultan', 'age': 32, 'grade': 86}

In [27]:
# ietrating the dictionary through for loop
# first iterating through key
for key in name_dict:
  print(key)
print()
 #secondaly ietration pf values through for loop
for value in name_dict.values():
  print(value)

name
age
grade

sultan
32
86

# multiline string named as 'poem'

In [32]:
Poem='''This is a multiline string.
It can span multiple lines.
You can even include "quotes" inside it.

'''
print(Poem)

This is a multiline string.
It can span multiple lines.
You can even include "quotes" inside it.

# checking the length of fruits using if statment

In [39]:
if len(fruits) > 3:  # we can change or play with function by changing the ietms of fruits
    print("You have many fruits!")

You have many fruits!

# fail pass system using a simple program

In [ ]:
given_grade = int(input("Please input numerical grade: "))  # Convert input to integer immediately

if given_grade >= 90:  # Use >= for inclusive comparison
    print("A grade")
elif 80 <= given_grade <= 89:  # Use correct syntax for inclusive range
    print("B grade")
elif 70 <= given_grade <= 79:
    print("C grade")
elif 60 <= given_grade <= 69:  # Correct the range for D grade
    print("D grade")
else:
    print("F grade")

# checking the temprature

In [ ]:
# Get temperature input from the user
temperature = float(input("Enter temperature in Celsius: "))

# Classify temperature based on ranges
if temperature < -10:
    category = "Freezing"
elif -10 <= temperature < 0:
    category = "Cold"
elif 0 <= temperature < 20:
    category = "Moderate"
elif 20 <= temperature < 30:
    category = "Warm"
else:
    category = "Hot"

# Print the temperature and its category
print(f"Temperature: {temperature}Â°C")
print(f"Category: {category}")